// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h> 

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON1               ICON                    "cs.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ITEM_EDIT DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Item"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Item name:", IDC_STATIC, 7, 7, 45, 10
    EDITTEXT        IDC_ITEM_NAME, 55, 5, 188, 14, ES_AUTOHSCROLL

    LTEXT           "Quantity limit (0 = unlimited):", IDC_STATIC, 7, 27, 110, 10
    EDITTEXT        IDC_LIMIT, 120, 25, 40, 14, ES_NUMBER
    CONTROL         "Force accept", IDC_FORCE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 170, 25, 70, 14

    LTEXT           "Exclude words (comma/space separated):", IDC_STATIC, 7, 50, 140, 10
    EDITTEXT        IDC_EXCLUDE, 7, 63, 236, 14, ES_AUTOHSCROLL

    PUSHBUTTON   "OK", IDOK, 150, 83, 45, 14, BS_OWNERDRAW
    PUSHBUTTON      "Cancel", IDCANCEL, 200, 83, 45, 14, BS_OWNERDRAW
END

IDD_MASS_ADD DIALOGEX 0, 0, 190, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mass Add Items"
FONT 8, "MS Shell Dlg", 250, 0, 0x1
BEGIN
    EDITTEXT   IDC_MASS_EDIT, 7, 7, 176, 176, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_BORDER
    PUSHBUTTON "OK", IDOK, 30, 200, 50, 14, BS_OWNERDRAW
    PUSHBUTTON "Cancel", IDCANCEL, 100, 200, 50, 14, BS_OWNERDRAW
END

IDD_MATCH_LIST DIALOGEX 0, 0, 250, 325
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Possible Matching Items"
FONT 8, "MS Shell Dlg", 250, 0, 0x1
BEGIN
    LTEXT           "These items in the database match your search:", IDC_STATIC, 7, 7, 386, 10
    LISTBOX         IDC_MATCH_LIST, 7, 20, 235, 200, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_BORDER
    LTEXT           "Or type a custom item name:", IDC_STATIC, 7, 230, 90, 10
    EDITTEXT        IDC_MATCH_EDIT, 97, 228, 110, 14, ES_AUTOHSCROLL
    LTEXT           "", IDC_MATCH_HINT, 7, 255, 386, 30
    PUSHBUTTON   "Use Original", IDC_USE_ORIGINAL, 10, 300, 50, 14, BS_OWNERDRAW
    PUSHBUTTON      "Use Typed", IDC_USE_TYPED, 70, 300, 50, 14, BS_OWNERDRAW
    PUSHBUTTON      "Cancel", IDCANCEL, 130, 300, 50, 14, BS_OWNERDRAW
	PUSHBUTTON      "Auno.org", IDC_LOOKUP_AUNO, 190, 300, 50, 14, BS_OWNERDRAW
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,7,0,0
 PRODUCTVERSION 2,7,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "FileDescription", "ClickSaver"
            VALUE "FileVersion", "2.7.0.0"
            VALUE "InternalName", "ClickSaver.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "ClickSaver.exe"
            VALUE "ProductName", "ClickSaver"
            VALUE "ProductVersion", "2.7.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END
